.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn {
    width: 25%;
    height: 4rem;
    border-radius: 3rem;
    border: none;
    background-color: green;
    font-size: large;
    font-weight: 600;
}
.alret {
    display: flex;
    position: fixed;
    top: 15%;
    right: 15%;
    border: 2px solid red;
    background-color: beige;
    height: 70%;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.close-btn {
    height: 2rem;
    width: 2rem;
    align-self: flex-start;
    
}
.grow {
    flex-grow: 1;
    text-align: center;
}